<!DOCTYPE html>
<html>
    <head>
        <title>My ads portal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="app/lib/bootsrap_3.1.1/css/bootstrap.css" rel="stylesheet" />
        <link href="app/lib/bootsrap_3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="app/css/app.css" rel="stylesheet" />
    </head>

    <body ng-app="adsApp" ng-controller="MainController">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <div class="row">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/login-form" ng-hide="false">Login</a></li><!-- TODO hide ON LOGIN-->
                        <li><a href="#/register-form" ng-hide="false">Register</a></li><!-- TODO hide ON LOGIN-->
                        <li ng-cloak class="hidden-sm"><a href="" target="self">User: {{user.name || 'Guest'}}</a></li><!-- TODO SHOW ON LOGIN-->
                        <li><a href="#/" ng-hide="true">Logout</a></li><!-- TODO SHOW ON LOGIN-->
                        <li>
                            <div id="filter-category">
                                <div class="label">Category filter: </div>
                                <select id="selectCategories" class="nav-filter">
                                    <option selected="selected">All</option>
                                    <option ng-repeat="category in categories">{{category.name}}</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div id="filter-town">
                                <div class="label">Town filter: </div>
                                <select id="selectTowns" class="nav-filter">
                                    <option selected="selected">All</option>
                                    <option ng-repeat="town in towns">{{town.name}}</option>
                                </select>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="" target="self" class="dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Ads</a></li>
                                <li><a href="#">Publish New Ad</a></li>
                                <li class="divider"></li>
                                <li>
                                    <form class="navbar-form">
                                        <input ng-model="fiterByText" class="form-control" placeholder="Type text to filter adds" type="text">
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Edit Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container-fluid" ng-view id="main-view"></div>

        <script src="app/lib/jQuery/jquery-2.1.1.min.js"></script>
        <script src="app/lib/bootsrap_3.1.1/js/bootstrap.js"></script>
        <script src="app/lib/angularJS/angular_1.3.8.js"></script>
        <script src="app/lib/angularJS/angular-route.js"></script>
        <script src="app/js/app.js"></script>
        <script src="app/js/controlers/mainController.js"></script>
        <script src="app/js/services/requestManager.js"></script>
</body>
</html>
