<div data-ng-controller="EditAdController" data-ng-cloak data-ng-init="init()" class="jumbotron  col-md-offset-4 col-md-4 col-sm-offset-0 col-sm-12 col-xs-12">
    <div data-ng-model="ad">
        <div class="container">
            <form class="form-horizontal text-center" id="publish-form" name="publishForm">
                <fieldset>
                    <legend>Edit Ad</legend>
                    <div class="form-group">
                        <label for="title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="title" placeholder="Title" type="text" required="required" data-ng-model="ad.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Text</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Enter, ad`s text" required="required" data-ng-model="ad.text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" id="image" onchange="angular.element(this).scope().fileSelected(this)" />
                        <div class="image-box">
                            <img src="" data-ng-src="{{ad.imageDataUrl}}" alt="There is no uploaded image!" id="publish-image" />
                        </div>
                        <button data-ng-click="deleteImgUrl()" class="btn btn-primary">
                            Delete Image
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="category-select" class="col-lg-2 control-label">Category</label>
                        <div class="col-lg-10">
                            <select data-ng-model="ad.categoryId" class="form-control" id="category-select" data-ng-options="category.id as category.name for category in categories"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="town-select" class="col-lg-2 control-label">Town</label>
                        <div class="col-lg-10">
                            <select data-ng-model="ad.townId" id="town-select" class="form-control" data-ng-options="town.id as town.name for town in towns"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="buttons-holder">
                            <button data-ng-click="editAd(ad)" class="btn btn-primary">
                                Edit Add
                            </button>
                            <a href="#/user/ads" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>