<div class="row">
    <form class="form-horizontal col-md-offset-4 col-md-4 col-sm-offset-0 col-sm-12 col-xs-12 text-center" id="register-form" name="registerForm">
        <fieldset>
            <legend>Register</legend>
            <div class="jumbotron">
                <div>
                    <label for="input-username" class="control-label pull-left">Username</label>
                    <div>
                        <input type="text" required="required" class="form-control"
                               id="input-username" placeholder="Enter username">
                    </div>
                </div>
                <div>
                    <label for="input-password" class="control-label pull-left">Password</label>
                    <div>
                        <input type="password" required="required" class="form-control" id="input-password" placeholder="Enter password">
                    </div>

                    <label for="repeat-password" class="control-label pull-left">Repeat password</label>
                    <div>
                        <input type="password" required="required" class="form-control" id="repeat-password" placeholder="Repeat password">
                    </div>

                    <label for="name" class="control-label pull-left">Name</label>
                    <div>
                        <input type="text" required="required" class="form-control" id="name" placeholder="Enter name">
                    </div>

                    <label for="email" class="control-label pull-left">Email</label>
                    <div>
                        <input type="text" required="required" class="form-control" id="email" placeholder="Enter email">
                    </div>

                    <label for="phone" class="control-label pull-left">Phone</label>
                    <div>
                        <input type="text" class="form-control" id="phone" placeholder="Enter phone">
                    </div>

                    <div>
                        <label for="town-list" class="control-label pull-left">Select Town: </label>
                        <select id="town-list" class="form-control">
                            <option>katunica</option>
                            <option>kiustendil</option>
                            <option>kazanluk</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="buttons-holder">
                        <button class="btn btn-primary">
                            Register
                        </button>
                        <a href="#/login-form">Login here</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>